{% extends 'base.html' %}
{% block title %}About{% endblock title %}



{% block body %}
,<div class="container mt-5 mb-5 pt-5 "> 
<button type="button" class="btn btn-primary btn-lg btn-block">Blockchain Technology</button>
<button type="button" class="btn btn-primary btn-lg btn-block">PCB Designing</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Software Development</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Web Applications</button>
</div>



  

{% endblock body %}

